<router-outlet></router-outlet>
<ng-container *ngIf="authService.loggedIn(); else loggedOut">
    <footer class="row align-items-end mt-5 mx-5 px-5" style="vertical-align: bottom;">
        <div class="row align-items-end px-5">
            <div class="px-5">
                 <div class="px-5">
                    <div class="row align-items-end px-5">
                        <a class="btn btn-dark"  (click)="authService.logOut()" routerLink="/signin">Cerrar Sesion</a>
                    </div>
                 </div>
            </div> 
        </div>
    </footer>
</ng-container>
<ng-template #loggedOut>

</ng-template>