.fa-solid {
	cursor:  pointer;
	margin-left: 7px;
}
.icon-container {
  position: relative;
  display: inline-block;
}

.image-overlay {
  position: absolute;
  top: 0;
  left: 100%;
  margin-left: 10px; /* Ajusta según sea necesario */
  display: none;
  background-color: #fff;
  padding: 10px;
  border: 1px solid #ccc;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.icon-container:hover .image-overlay {
  display: block;
}

.imagen-pequena {
	max-width: 100px;
	max-height: 100px;
  }